@import './base/reset'; 
@import './base/fonts'; 
@import './base/base'; 
@import './blocks/main.scss'; 
@import './blocks/sidebar.scss';
@import './blocks/card'; 
@import './blocks/buttons'; 
@import './blocks/mobile'; 