.btn-more{
    width: 100%; 
    height: 80px; 
    background: #E5E5E5;
    border-radius: 4px;
    padding: 30px 356px; 

    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;

    color: #4290C9;
    cursor: pointer; 
    transition: background-color 0.2s ease-in; 

    &:hover{
        background-color: #c2bdbd;
    }

    img{
        display: inline-block; 
        margin-right: 10px; 
        vertical-align: middle;
    }
}

