.sidebar{
    width: 270px; 

}

/* widget */ 

.widget {
}

.widget__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16; 
    
    position: relative; 
    margin-bottom: 20px; 

    &::after{
        content: ""; 
        top: 6px; 
        right: 15px; 
        // background-color: red;
        background-image: url('../imgs/icons/arrow.svg'); 
        background-repeat: no-repeat; 
        background-size: initial; 
        background-position: center; 
        position: absolute; 
        width: 12px; 
        height: 10px; 

    }
}

.widget__body {
}


/* location buttons group */ 

.location-group {
}

.location__row {
    display: flex; 
    

    &:first-child{
        overflow: hidden; 
        border: 1px solid #D6D6D6; 
        border-radius: 4px 4px 0 0; 
    }

    &:last-child{
        overflow: hidden; 
        border: 1px solid #D6D6D6;
        border-top: none; 
        border-radius: 0 0 4px 4px; 
        
    }
}

.location__btn {
    flex-grow: 1;
     
    height: 50px; 
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding: 17px; 
    text-align: center; 
    color: #3C3C3C;
    transition: background-color 0.2s ease-in; 
    background-color: #ffc904;
    cursor: pointer; 


    &:hover{
        background-color: #dfae00;
    }
}

.location__checkbox{
    width: 1px; 
    height: 1px; 
    position: absolute; 
    opacity: 0; 
    // appearance: none; 
}

.location__checkbox:checked + .location__btn{
    background-color: #dbae0c;
}