.sidebar{
    min-width: 200px; 
    width: 270px; 
}

.sidebar--active{
    transform: translateX(0); 
}


/* widget */ 

.widget {

    & + &{
        margin-top: 30px; 
    }
}

.widget__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16; 
    
    position: relative; 
    margin-bottom: 20px; 
    cursor: pointer; 

    &::after{
        content: ""; 
        top: 6px; 
        right: 15px; 
        // background-color: red;
        background-image: url('../imgs/icons/arrow.svg'); 
        background-repeat: no-repeat; 
        background-size: initial; 
        background-position: center; 
        position: absolute; 
        width: 12px; 
        height: 10px; 

    }

    &--active::after{
        transform: rotate(180deg); 
    }
}




/* location buttons group */ 

.location-group {
}

.location__row {
    display: flex; 
    

    &:first-child{
        overflow: hidden; 
        border: 1px solid #D6D6D6; 
        border-radius: 4px 4px 0 0; 
    }

    &:last-child{
        overflow: hidden; 
        border: 1px solid #D6D6D6;
        border-top: none; 
        border-radius: 0 0 4px 4px; 
        
    }
}

.location__btn {
    flex-grow: 1;
     
    height: 50px; 
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding: 17px; 
    text-align: center; 
    color: #3C3C3C;
    transition: background-color 0.2s ease-in; 
    background-color: #ffc904;
    cursor: pointer; 


    &:hover{
        background-color: #dfae00;
    }
}

.location__checkbox{
    width: 1px; 
    height: 1px; 
    position: absolute; 
    opacity: 0; 
    // appearance: none; 
}

.location__checkbox:checked + .location__btn{
    background-color: #dbae0c;
}

/* radio */ 

.radio {
    display: block; 
    cursor: pointer; 
}

.radio + .radio {
    margin-top: 15px; 
}
.radio__real {
    position: aboslute; 
    width: 1px; 
    height: 1px; 
    opacity: 0; 
}

.radio__real:checked + .radio__fake{
    background-color: #dbae0c;
}

.radio__real:checked + .radio__fake::before{
    content: ""; 
    width: 8px; 
    height: 8px; 
    background-color: #3C3C3C;
    border-radius: 50%; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  

}

.radio__fake {
    position: relative; 
    display: inline-block; 
    width: 20px;
    height: 20px;
    background-color: #fff; 
    border: 1px solid #777777;
    border-radius: 50%; 
    margin-right: 10px; 
}

.radio__real:checked ~ .radio__title{
    font-weight: 500; 
}

.radio__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #000000;
    vertical-align: bottom;
}

/* checkbox */ 

.checkbox {
    display: block; 
    cursor: pointer; 
    margin-bottom: 15px; 
}
.checkbox__real {
    position: aboslute; 
    width: 1px; 
    height: 1px; 
    opacity: 0; 
}

.checkbox__real:checked + .checkbox__fake{
    background-color: #FFE074; 
}



.checkbox__fake {
    position: relative; 
    display: inline-block; 
    width: 20px;
    height: 20px;
    border: 1px solid #777777;
    border-radius: 2px;
    margin-right: 10px; 
}


.checkbox__real:checked ~ .checkbox__fake::before{
    content: ""; 
    background-image: url('../imgs/icons/check.svg'); 
    background-size: initial; 
    background-position: center;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 18px;
    height: 18px;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    
}


.checkbox__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #3C3C3C;
    vertical-align: super;
}

.checkbox__real:checked ~ .checkbox__title{
    font-weight: 500; 
}


/* Hidden elements */ 
.widget__elements--hidden{
    display: none; 
}

.options-show-more{
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18; 
    color: #4290C9;
    cursor: pointer; 
}

.options-show-more:hover{
    text-decoration: underline;
}


/* Toggle */ 

.toggle {
}
.toggle__real {
    position: aboslute; 
    width: 1px; 
    height: 1px; 
    opacity: 0; 
}

.toggle__fake {
    position: relative; 
    display: inline-block; 
    width: 37px;
    height: 20px; 
    background-color: #C4C4C4;
    border-radius: 10px;
    cursor: pointer; 
    margin-right: 10px; 
}

.toggle__fake::before{
    position: absolute; 
    top: 2px; 
    left: 2px; 
    content: ""; 
    width: 16px;
    height: 16px;
    background-color: #3C3C3C;
    border-radius: 50%; 
    transition: all 0.3s ease-in; 
    
}

.toggle__real:checked + .toggle__fake{
    background-color: #FFE074; 
}

.toggle__real:checked + .toggle__fake::before{
      left: 19px; 
//    left: auto; 
//    right: 2px; 
}

.toggle__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #3C3C3C;
    vertical-align: super;
    cursor: pointer; 
}

.toggle__real:checked ~ .toggle__title{
    font-weight: 500; 
}


/* Form buttons */ 

.form__btn {
    width: 100%; 
    height: 50px; 
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    background-color: transparent; 

    text-align: center;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #3C3C3C;


    cursor: pointer; 
    transition: background-color 0.2s ease-in; 

}

.form__btn:hover{
    background-color: rgb(230, 230, 230); 
}

.form__btn + .form__btn{
    margin-top: 10px; 
}

.form__btn--submit {
    background-color: #FFCF26; 
    border: none; 
}

.form__btn--submit:hover{
    background-color: #dbae0c;
}

.form__btn .btn__reset{
    position: relative; 
    padding-top: 16px; 
    padding-bottom: 15px; 
    padding-left: 50px; 
}

.form__btn .btn__reset::before{
    position: absolute; 
    content: ""; 
    width: 24px; 
    height: 24px; 
    background-image: url('../imgs/icons/x.svg'); 
    top: 13px; 
    left: 12px; 


}